.bookmark-list-container.grid {
  height: 500px;
  text-align: center;
}

.bookmark-internal {
  margin: 10px;
  font-weight: 200;
  background-color: #4C99CF;
  color: white;
  box-shadow: inset 0 0 1px #235b82, 0 0 1px #235b82;
  border-radius: 3px;
  text-align: center;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
}

.bookmark-base.group .bookmark-internal {
  background: #4974A7;
}

.bookmark-base.group .bookmark-internal .btn-list {
  background-color: #4974A7;
}

.bookmark-internal > div {
  height: 20px;
}

.bookmark-base .bookmark-internal{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.bookmark-base.grid .bookmark-internal{
  flex-direction: column;
}

.bookmark-base.list .bookmark-internal{
  flex-direction: row;
  align-items: center;
}

.bookmark-internal .btn-list {
  position: absolute;
  background: #4C99CF;
}

.bookmark-base.grid .bookmark-internal .btn-list {
  bottom: -60px;
}

.bookmark-base.grid .bookmark-internal:hover .btn-list {
  bottom: 0px;
}

@keyframes raise-buttons {
  from {
    bottom: -60px;
  }
  to {
    bottom: 5px;
  }
}

.bookmark-internal:hover .btn-list{
  animation-name: raise-buttons;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.bookmark-base.list .bookmark-internal .btn-list {
  bottom: 2px;
  right: -150px;
  transition: right 0.5s ease-out;
}

.bookmark-base.list .bookmark-internal:hover .btn-list {
  right: 0px;
}

.bookmark-base.list .bookmark-internal:hover .btn-list{
  animation-name: slide-buttons;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.bookmark-base h1,
.bookmark-base h2,
.bookmark-base button {
  user-select: none; /* CSS3 (little to no support) */
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: none; /* Gecko (Firefox) */
  -webkit-user-select: none;
}

.bookmark-base.selected {
  box-shadow: inset 0 0 2px #00336C, 0 0 2px #00336C;
}

.bookmark-base.dragged {
  opacity: 0;
}

.bookmark-base.grid {
  width: 180px;
  height: 120px;
  display: inline-block;
  text-align: left;
}

.bookmark-base.list {
  height: 60px;
}

.bookmark-base.grid .footer {
  position: absolute;
  bottom: 0;
}

.bookmark-base.list .footer {
  position: absolute;
  right: 0;
}

.bookmark-base.grid .btn-group {

}

.bookmark-base.list .btn-group {

}




