.bookmark-list-container.grid {
  height: 500px;
  padding-left: 50px;
}

.bookmark-drill-down-spacer {
  padding-left: 60px;
}

.bookmark-internal {
  font-weight: 200;
  color: white;
  box-shadow: inset 0 0 1px #235b82;
  border-radius: 3px;
  text-align: center;
  padding: 5px 10px;
  overflow: hidden;
  transition: 0.7s ease;
}

.bookmark-internal > div {
  height: 20px;
  position: relative;
}

.bookmark-base {
  margin: 10px;
  border-radius: 3px;
}

.bookmark-base .bookmark-internal {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.bookmark-base.grid.group .bookmark-internal {
  background-color: rgba(152, 194, 193, 0.8);
}

.bookmark-base.grid.group .bookmark-internal .btn-list,
.bookmark-base.grid.group .bookmark-internal:hover {
  background-color: rgba(152, 194, 193, 1);
}

.bookmark-base.grid.leaf .bookmark-internal {
  background-color: rgba(154, 189, 220, 0.7);
}

.bookmark-base.grid.leaf .bookmark-internal:hover {
  background-color: rgba(154, 189, 220, 1);
}

.bookmark-base.grid .bookmark-internal {
  flex-direction: column;
}

.bookmark-base.list .bookmark-internal {
  flex-direction: row;
  align-items: center;
}

.bookmark-internal .btn-list {
  position: absolute;
}

.bookmark-base.grid .bookmark-internal .btn-list {
  bottom: -60px;
  transition: bottom 0.3s ease-out;
  left: 0;
  right: 0;
}

.bookmark-base.grid .title-info {
  transition: color 0.2s ease-in;
}

.bookmark-base.grid:hover .title-info {
  color: transparent;
  transition-duration: 0s;
}

.bookmark-base.grid .bookmark-internal:hover .btn-list {
  bottom: 0px;
}

.bookmark-base.list .bookmark-internal:hover .btn-list {
  right: 0px;
}

.bookmark-base.list .bookmark-internal .btn-list {
  bottom: -16px;
  right: -150px;
  transition: right 0.3s ease-out;
}

.bookmark-base h1,
.bookmark-base h2,
.bookmark-base button {
  user-select: none; /* CSS3 (little to no support) */
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: none; /* Gecko (Firefox) */
  -webkit-user-select: none;
}

.bookmark-base.selected .bookmark-internal {
  box-shadow: inset 0 0 4px #00336c, 0 0 4px #00336c;
}

.bookmark-base.dragged {
  opacity: 0;
}

.bookmark-base.grid {
  display: inline-block;
}

.bookmark-base.grid .bookmark-internal {
  width: 180px;
  height: 120px;
}

.bookmark-base.list .bookmark-internal {
  height: 60px;
}

.stack {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.150);

  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
}

.stack:before {
  z-index: -1;
  position: absolute;
  top: -2px;
  left: 0px;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #cdd7de;
  border: 1px solid rgba(0, 0, 0, 0.150);

  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.stack:after {
  z-index: -2;
  position: absolute;
  top: -3px;
  left: 0px;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #acb3b7;
  border: 1px solid rgba(0, 0, 0, 0.150);

  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
}

.stack:before,
.stack:after {
  transition-duration: 0.5s;
}

.stack:hover:after,
.stack:hover:before {
  transform: rotate(0deg);
  top: 0;
  left: 0;
}


