.bookmarks-container {
  max-width: 830px;
  margin: 15px auto;
}

.bookmark-drill-down-spacer {
  padding-left: 55px;
}

.bookmark-list-container{
  padding: 15px;
}

.bookmark-content {
  display: flex;
  width: 100%;
}

.bookmark-internal {
  font-weight: 200;
  color: white;
  padding: 10px;
  overflow: hidden;
}

.bookmark-internal,
.drag-area {
  text-align: center;
  box-shadow: inset 0 0 1px #235b82;
  border-radius: 3px;
}

.bookmark-base {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  transition: 0.8s ease;
}

.bookmark-base.grid {
  margin: 10px;
}

.bookmark-base.list {
  margin: 10px 0;
}

.bookmark-base .bookmark-internal {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.bookmark-base .bookmark-internal > div {
  height: 20px;
  position: relative;
}

.bookmark-base .bookmark-internal .btn-list {
  position: absolute;
}

.bookmark-base h1,
.bookmark-base h2,
.bookmark-base button,
.bookmark-base .title-small {
  user-select: none; /* CSS3 (little to no support) */
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: none; /* Gecko (Firefox) */
  -webkit-user-select: none;
  cursor: default;
}

.bookmark-base.selected .bookmark-internal,
.bookmark-base.selected .drag-area {
  border: 1px solid #00336c;
  box-shadow: inset 0 0 5px #00336c,0 0 5px #00336c;
}

.bookmark-base.dragged {
  opacity: 0;
}

.bookmark-internal .title-info {
  transition: color 0.2s ease-in;
}

.bookmark-internal:hover .title-info {
  color: transparent;
  transition-duration: 0s;
}

/*
  GRID
*/

.bookmark-list-container.grid {
  height: 500px;
  padding-left: 50px;
}

.bookmark-base.grid {
  display: inline-block;
  cursor: all-scroll;
}

.bookmark-base.grid .bookmark-internal {
  width: 180px;
  height: 120px;
}

.bookmark-base.grid.group .bookmark-internal {
  background-color: rgba(152, 194, 193, 0.8);
}

.bookmark-base.grid.group .bookmark-internal:hover {
  background-color: rgba(152, 194, 193, 1);
  cursor: all-scroll;
}

.bookmark-base.grid.leaf .bookmark-internal {
  background-color: rgba(154, 189, 220, 0.7);
}

.bookmark-base.grid.leaf .bookmark-internal:hover {
  background-color: rgba(154, 189, 220, 1);
  cursor: all-scroll;
}

.bookmark-base.grid .bookmark-internal {
  flex-direction: column;
}

.bookmark-base.grid .bookmark-internal .btn-list {
  bottom: -60px;
  transition: bottom 0.3s ease-out;
  left: 0;
  right: 0;
}

.bookmark-base.grid .bookmark-internal:hover .btn-list {
  bottom: -9px;
}

.stack {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.150);

  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
}

.stack:before {
  z-index: -1;
  position: absolute;
  top: -2px;
  left: 0px;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #cdd7de;
  border: 1px solid rgba(0, 0, 0, 0.150);

  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.stack:after {
  z-index: -2;
  position: absolute;
  top: -3px;
  left: 0px;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #acb3b7;
  border: 1px solid rgba(0, 0, 0, 0.150);

  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
}

.stack:before,
.stack:after {
  transition-duration: 0.5s;
}

.stack:hover:after,
.stack:hover:before {
  transform: rotate(0deg);
  top: 0;
  left: 0;
}

/*
  LIST
*/

.bookmark-base.list .bookmark-internal {
  flex-direction: row;
  align-items: center;
  height: 45px;
  flex-grow: 1;
  color: #333333;
}

.bookmark-base.list .bookmark-internal:hover .btn-list {
  right: 0px;
}

.bookmark-base.list .bookmark-internal .btn-list {
  bottom: -16px;
  right: -150px;
  transition: right 0.3s ease-out;
}

.bookmark-base.list.group .bookmark-internal,
.bookmark-base.list.group .drag-area {
  /*background-color: rgba(152, 194, 193, 0.4);*/

  background: linear-gradient(to bottom,rgba(152, 194, 193, 0.3) 0,rgba(152, 194, 193, 0.1) 100%);

}

.bookmark-base.list.group .bookmark-internal:hover {
  background: rgba(152, 194, 193, 1);
}

.bookmark-base.list.leaf .bookmark-internal,
.bookmark-base.list.leaf .drag-area {
  /*background-color: rgba(167, 194, 218, 0.4);*/

  background: linear-gradient(to bottom,rgba(167, 194, 218, 0.41) 0,rgb(239, 237, 233) 100%);
}

.bookmark-base.list.leaf .bookmark-internal:hover {
  background: rgba(167, 194, 218, 1);
}

.drag-area {
  height: 45px;
  width: 45px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

.drag-area:before {
  font-size: 25px;
  color: rgba(122, 145, 177, 0.5);
}

.drag-area:hover:before {
  color: rgba(122, 145, 177, 1);
}

.drag-area:hover {
  cursor: all-scroll;
  /*transition: 0.7s ease;*/
  box-shadow: inset 0 0 2px #00336c,0 0 1px #00336c;
}

.list .bookmark-internal .btn-list {

}

.favicon {
  opacity: 0.2;
}
