.form-container {
    max-width: 500px;
    padding: 15px;
    margin: 75px auto;
    background: linear-gradient(to bottom, rgba(234, 231, 226, 0.63) 0, rgba(247, 244, 238, .31) 100%);
    box-shadow: inset 0px 0px 0px #00336c, 0px 0px 3px #00336c;
    border-radius: 15px;
}

.form-container .header .title-large {
    color: #697FA4;
}

.form-container .footer {
    margin: 10px;
}

.label {
    padding-right: 5px;
    vertical-align: sub;
}

.label > span {
    display: inline-block;
    width: 30%;
}

.input {
    border-color: #cccccc;
    border: 1px solid;
    color: #6b6b6b;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    height: 35px;
    width: 220px;
    padding: 15px;
    outline: none;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, rgba(222, 218, 211, .7) 0, rgba(222, 218, 211, .2) 100%);
}



.input .input-with-label {
    width: 70%;
}

.input:hover {
    background: rgba(222, 218, 211, 1);
}

.input:focus {
    background: -webkit-linear-gradient(top, rgba(222, 218, 211, .7) 0, rgba(222, 218, 211, .2) 100%);
}

.input-long {
    width: 520px;
}

.invalid-input {
    border-color: #cc0000;
    background-color: #fdf3f3;
}

.form .input {
  margin: 5px 0;
}

.form .btn {
    background: -webkit-linear-gradient(top, #9ABDDD 0, rgba(154, 189, 221, 0.5) 100%);
    background: linear-gradient(top, #9ABDDD 0, rgba(154, 189, 221, 0.5) 100%);
    padding: 7px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: inset 0px 0px 1px #697FA4, 0px 1px 1px #697FA4;
    color: #FFFFFF;
    font-size: 15px;
    margin: 3px;
}

.form .btn:hover {
    background: -webkit-linear-gradient(top, #697FA4 0, rgba(105, 127, 164, 0.5) 100%);
    background: linear-gradient(top, #697FA4 0, rgba(105, 127, 164, 0.5) 100%);
    cursor: pointer;
}

.form .tooltip {
  margin-left: -355px;
  font-size: 14px;
  width: 130px;
  height: 35px;
  padding: 7px;
}

.form .tooltip:before {
  left: 129px;
}

.form .tooltip:after {
  left: 127px;
}
