ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-list {
    display: flex;
    justify-content: space-around;
}

.btn-list-item {
    padding: 0;
    margin: 0;
}

.bookmark-group-internal-list {
    padding-left: 60px;
}
