.fixed-bottom-bar {
    display: flex;
    justify-content: space-between;
}

.fixed-bottom-bar .btn {
    color: #2e2e2e;
}

.fixed-bottom-bar .btn {
    width: 64px;
    height: 64px;
}

.fixed-bottom-bar .btn > .fa {
    width: 54px;
    height: 48px;
    font-size: 48px;
}

.fixed-bottom-bar .btn:hover {
    color: #4e4e4e;
}

.helper-message {
    font-size: 1.2em;
    right: 8.5%;
}

.empty-state-container {
    width: 200px;
    height: 400px;
    text-align:center;
}

.empty-state-container-title {
    font-size: 4rem;
}

.tooltip
{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #c7bdaf;
    /*position: absolute;*/
}

.tooltip::after
{
    content:"";
    left: 322px;
    position: absolute;
    border-top: 8px solid transparent;
    border-left: 16px solid #ffffff;
    border-bottom: 8px solid transparent;
}

.tooltip::before
{
    content:"";
    position: absolute;
    left: 324px;
    border-top: 8px solid transparent;
    border-left: 16px solid #c7bdaf;
    border-bottom: 8px solid transparent;
}

.clr-fltr {
    background: transparent;
    font-weight: 200;
}

.clr-fltr:hover {
    background: -webkit-linear-gradient(top, rgba(222, 218, 211, .7) 0, rgba(222, 218, 211, .2) 100%);
}
