html {
    font: 62.5%/1.35 'Helvetica Neue Regular', 'Helvetica Neue';
    font-weight: 200;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: url('../img/fabric.png');
    margin: 0;
}

.main {
    margin: auto;
    color: #333333;
    font-size: 1.7em;
    /*background: linear-gradient(to bottom, rgba(234, 231, 226, 0.75) 0, rgba(247, 244, 238, 0.31) 100%);*/
    position: relative;
    z-index: 1;
}

.header {
    padding: 10px;
}

.app-line-container {
    margin: 0 25px;
    padding: 5px;
    line-height: 35px;
    position: relative;
}

.contained {
    margin-right: 25px;
    height: 35px;
}

.hidden {
    display: none;
}

.fixed-center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.title-normal {
    font-size: 20px;
    font-weight: 200;
}

.title-large {
    font-size: 32px;
    font-weight: 200;
    margin: 15px;
}

.title-small {
    font-size: 17px;
    font-weight: 200;
    margin: 5px;
}

.btn-style-less:focus {
    outline-width: 5px;
}

.border-simple {
    border: 1px solid #cccccc;
}

.border-no-top {
    border-width: 0 1px 1px 1px;
    border-style: solid;
}

.border-bottom {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #cccccc;
}

.error-message {
  color: #cc0000;
  font-size: large;
}

.search-term {
    font-style: italic;
    font-weight: bold;
}

.inline {
    display: inline-block;
}
