
.modal {
    z-index: 10;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    margin: 10% auto;
}

.modal-closed {
    opacity: 0;
    pointer-events: none;
}

.modal-opened {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: #fff;
}

.content-long {
    width: 600px;
}

.content-short {
    width: 450px;
}

.modal .btn-close {
    float: right;
}

.modal .btn {
    width: 100px;
    height: 30px;
}

.modal .btn-long {
    width: 300px;
    height: 30px;
}

.overlay {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
}

.modal-text {
    font-size: 2rem;
}

.modal .action-with-lead {
    display: flex;
    width: 100%;
    margin: 5px;
}

.modal .action-with-lead .lead {
    width: 35%;
}

.modal .action-with-lead .action {
    width: 60%;
}

.modal .action-list {
    display: flex;
    width: 100%;
    margin: 5px;
    justify-content: flex-end;
}

