
.modal {
    z-index: 10;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    margin: 10% auto;
}

.modal-closed {
    opacity: 0;
    pointer-events: none;
}

.modal-opened {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    width: 750px;
    background: #fff;
}

.modal .btn-close {
    float: right;
}

.modal .btn {
    width: 195px;
    height: 30px;
}

.modal .btn:hover {
    background-color: #c3c3c3;
}

.overlay {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
}
