
.modal {
    z-index: 10;
    margin: 10% auto;
}

.modal-animation-enter,
.modal-animation-leave.modal-animation-leave-active
{
    opacity: 0;
}

.modal-animation-leave,
.modal-animation-enter.modal-animation-enter-active{
    opacity: 1;
}

.modal-opened {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: #fff;
}

.content-long, .content-short {
    width: 100%;
}

.modal .btn-close {
    float: right;
}

.modal .btn {
    width: 150px;
    height: 30px;
}

.modal .btn-long {
    width: 300px;
    height: 30px;
}

.overlay {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.modal-text {
    font-size: 2rem;
}

.modal .action-with-lead {
    display: flex;
    width: 100%;
    margin: 5px;
}

.modal .action-with-lead .lead {
    width: 35%;
}

.modal .action-with-lead .action {
    width: 60%;
}

.modal .action-list {
    display: flex;
    width: 100%;
    margin: 5px;
    justify-content: flex-end;
}

@media all and (min-width: 600px) {
    .content-long {
        width: 600px;
    }

    .content-short {
        width: 450px;
    }
}
