.reorder-wrapper {
  display: inline-flex;
}

.reorder {
  font: 14px 'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight: 200;
  height: 35px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #404448;
  background: transparent;
  border: none;
  flex-grow: 1;
}

.reorder-select-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  width: 180px;

}

.reorder-select-wrapper .fa {
  flex-grow: 1;
  text-align: center;
  line-height: 33px;
  padding: 0 5px;
  border-left: 1px solid #ccc;
}

.reorder-select-wrapper .fa:hover {
  color: #ffffff;
}

.search-box {
  border-radius: 30px;
  width: 300px;
}

.search-box .input,
.reorder-select-wrapper {
  border-radius: 30px;
  padding-left: 15px;
}

.search-box .input {
  background: transparent;
  border: none;
  width: 255px;
}

.action-controls {
  position: absolute;
  right: 0;
  margin-right: 0;
}

.action-controls .btn {
  font-weight: 200;
  border: none;
  height: 30px;
  text-align: right;
  background-color: transparent;
}

@media screen and (max-width: 960px) {
  .action-controls.btn-group .btn {
    visibility: hidden;
  }
}

@media all and (min-width: 600px) {
  .search-box {
    width: 350px;
  }

  .search-box .input {
    width: 305px;
  }
}

