.top-bar {
  z-index: 30;
  position: relative;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  font-size: 14px;
  background: linear-gradient(to bottom,rgba(199,189,175,0.5) 0,rgba(199,189,175,0.2) 100%);
}

.top-bar-section {
  display: flex;
  align-items: center;
  height: 44px;
}

.logo {
  padding: 5px 5px;
}

.logo-name {
  font-size: 20px;
}

.top-bar-username,
.btn-logout {
  padding: 3px 21px;
  line-height: 40px;
}

.btn-logout {
  border-left: 1px solid #cccccc;
}
